efficientnet_pytorch==0.7.1
matplotlib==3.8.3
numba==0.59.1
numpy==1.26.4
pillow==10.2.0
scikit-learn==1.4.1.post1
seaborn==0.13.2
torch==2.2.2+cu121
torchsummary==1.5.1
torchvision==0.17.2+cu121
tqdm==4.66.2
